<style>
@import 'https://fonts.googleapis.com/css?family=Lora|Open+Sans:300';
</style>

* {
	padding: o;
	margin: 0;
}

body {
	font-family: 'Lora', serif;
	font-size: 16px; /*1em = 16px*/
	color: 222222;
	line-height: 1.3em;
	text-align: center;
}

header {
	background-color: ##e66086;
	margin-bottom: 1.2em;
}

h1, h2, h3 , h4 {
	color: #e66086;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: .5em;
	margin-top: 1em;
	text-align: center;
}

h1 {font-size: 4em}

h2 {font-size: 2em}

h3 {font-size: 1.7em}

h4 {font-size: 1.2em}

a {
	color: #e66086;
	text-decoration: none;
}

#wrapper {
	background-color:  #FFFFFF;
	width: 100%;
	margin: 0 auto;
}

#header {padding: 12em;}

nav a {
	color: #cccccc;
	font-style: italic;
	margin-right: .8em;
	margin-bottom: .8em;
	margin-top: 2em;
	text-align: center;
}

img {
	width: 100%;
}

main {padding: 1em;
	width: 40em;
	text-align: center;
	margin: 0 auto;
}

ul, ol {padding-left: 1em;
		margin-bottom: .8em
}

hr {margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}

footer {
	background-color: #cccccc;
	text-align: center;
	padding: 1.3em;
}

h3, h4, h5 {
	margin: 1em;
}

p {
	margin-bottom: 2em;
	text-align: center;
}

#header {
	background-image: url(../images/bcg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	width: auto;
}




